{% extends "template.html" %}
{% block content %}
<style>
body{
font-family:Arial;
background:white;
}

.login{
background:gray;
border:2px;
border-radius:5px;
padding:2px;
width:300px;
margin:auto;
margin-top:30px;
height:510px;
}
form{
width:240px;
text-align:center;
border:2px;
border-radius:3px;
}
input{
width:240px;
text-align:center;
background:#ecfof1;
border:2px solid transparent;
border-radius:3px;
font-size:16px;
font-weight:200;
padding:10px 0;
transition:border .5s;
}
input[type =submit]{
border:2px solid transparent;
background:darkslategray;
color:white;
font-size:16px;
line-height:25px;
padding:10px 0;
border-radius:3px;
}
</style>
<body>
<div class="login">
<center><form action="{{ url_for('adding') }}" method="POST" xmlns="http://www.w3.org/1999/html">
         <h2>Student Information</h2>
         <dl>
             <dt><strong>First Name:</strong><br>
         <input type = "text" name = "fname" placeholder="First Name" /></br>

             <dt><strong>Last Name:</strong><br>
         <input type = "text" name = "lname" placeholder="Last Name" /></br>

             <dt><strong>ID No.:</strong><br>
         <input type = "integer" name = "idno" placeholder="ID Number" /></br>

             <dt><strong>Email:</strong><br>
         <input type = "text" name = "email" placeholder="Email Address" /></br>

             <dt><strong>Password:</strong><br>
         <input type = "password" name = "password" placeholder="Password" /></br>
         </dl>
         <a href = "{{ url_for('adding') }}" methods="post">
              <input type =submit value = "submit" /></a>
      </form></center>
</div>
</body>
<br/>
<br/>
<footer>
    <center><p>© 2017 All Rights Reserved</p></center><
</footer>
{% endblock %}