{% extends "template.html "%}
{% block content %}
<style>
input[type =submit]{
border:2px solid transparent;
background:darkslategray;
color:white;
font-size:16px;
line-height:25px;
padding:10px 0;
border-radius:3px;
}
.w3-btn{
border:2px solid transparent;
background:darkslategray;
color:white;
font-size:16px;
width:100px;
line-height:15px;
padding:5px 0;
border-radius:3px;
}
</style>


    <center>
    </p><a href ="/logout"><button class="w3-btn">Log Out</button></a>
    <br/>
    <br/>
    <a href="/hello"><button class="w3-btn">List of Students</button></a></li>
    <br/>
    <br/>
    <a href="/addform"><button class="w3-btn">Add Student</button></a></li></p>
    </center>
{% endblock %}
